<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coder.zt.sobblog">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:windowDrawsSystemBarBackgrounds = "false"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="true"
        android:name=".SOBApp"
        android:theme="@style/Theme.SOBBlog">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />

        <activity android:name="com.coder.zt.sobblog.demo.ArticleDemoActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity android:name=".ui.activity.MoYuActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboard|keyboardHidden|orientation">

        </activity>
        <activity android:name=".ui.activity.ArticleDetailActivity" >

        </activity>
        <activity android:name=".ui.activity.EditMinifeedActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.SunofLogActivity" />
        <activity android:name=".ui.activity.PictureBrowseActivity" />
        <activity android:name=".ui.activity.InteractMessageActivity" />
        <activity android:name=".ui.activity.MomentDetailActivity" />
    </application>

</manifest>